<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/admin/static/js/banner-popup.js"></script>
  </body>
</html>
