.chart-fullscreen {
  width: 50vw;
  height: 20vw;
  margin-left: 20px;
  margin-top: 5rem;
  position: relative;
}
.chart-fullscreen canvas {
  width: 100% !important;
  height: 100% !important;
}
.param-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.param-row > * {
  flex: 1;
  min-width: 150px;
}
